*swp
*pyc
test_output
recursive/images/*
recursive/failed_images/*
recursive/metadata.csv
recursive/failed.csv
duplicates/duplicates.csv
duplicates/duplicates/*
notes
get_artist_list/artist_list.txt
cirrus/cirrus.csv
